#login{
    display: none;
}
#bodyForum{
      
    background-color:#263857 ;
}

#bodyPost{
    background-color:#263857
}
#body{
    margin:0 ; 
    background-color: #bebdb6;
}
article{
  background-color: rgba(187, 78, 85, 0.5)  ;
 
    height: 400px;
    
}

main{
    background-image: url(./fontecran.png);
    width: 100%;
    height: 400px;
    background-size: 100%;
}

#headIndex{
    background-color: #bebdb6;
}
footer{
    background-color: #bebdb6;
    height: 15%;
}
#footer{
   width: 50%;
   height: 25%;
   margin-left:25%;
   margin-right:25%;
}
h1{
    text-align: center;
    border-bottom: 5px solid white;
    color: white;
  
    margin-left: 25%;
    margin-right: 25%;
   
    
}

.presentation{
    margin-top: 8%;
    font-size: 25px;
    color: white ;
    text-align: center ;
}
#signup{
    display: none;
    text-align: center;
    margin-left: 25% ; 
    margin-right:25%;
    border:solid black 2px;
    padding-top: 2% ;
    padding-bottom: 5%;
    background-color:
    #bebdb6 ;
    margin-top: 5%;
    color: #fdfdfd   ;
    
}

#login{
    display: none;
    text-align: center;
    margin-left: 25% ; 
    margin-right:25%;
    border:solid black 2px;
    padding-top: 2% ;
    padding-bottom: 5%;
    background-color:
    #bebdb6 ;
    margin-top: 5%;
    color: #fdfdfd   ;
    
}
#passwordError{
    display: none;
}
#userError{
    display: none;
}
#validationSignup{
    display:none ;
}


input{
    margin-bottom: 3%;
}
.logoSignup{
    width:90%
}

.fas{
    padding-left: 80%;
    font-size: 30px;

    
}
#flex{
    display: flex;
    justify-content: space-around;
}
.far{
    padding-left:80%;
font-size:20px;
padding-top:3%;
}

#listProfil{
    display: block;
}

#formProfil{
    display:block; 
}

#linkModifyProfil{
    display:none ; 
}

#profilDeroulant{
    display: block ; 
}

#post{
    display: block; 
    
}

#divPost{
    display: none ; 
}

ul{
    list-style-type: none ;
}

ul li{
     
    width:25% ; 

    
}

ul::after {
content: "" ;
display: table;
clear: both ; 
}

a{
    display: block ; 
    text-decoration: none ;
    color:  #fdfdfd ; 
    border-bottom: 2px solid transparent;
    margin-left: 3%;
    margin-top:2%;
   
    
}
a:hover{
    color:#bb4e56;
   
}
#deroulantBlock{
    display: none;
}

.sous{
    display:block ; 
    box-shadow: 0px 1px 2px ;
}

ul li:hover .sous{
    display: block;
}

.sous li{
    float:block ; 
    width:100% ; 
    text-align: left ; 

}

.sous a{
padding: 10px ; 
/*border-bottom: none ;*/ 
}

.sous a:hover{
/* border-bottom: none;*/
 background-color: RGBa(200,200,200,0.1);
}

#getPost{
     width: 40%;
    margin-left: auto ; 
    margin-right:auto ;
}

#returnProfil{
    display:none ; 
}
.linkForum{
    font-size: 25px;
}


#formCommentaire{
    display:none ; 
}

#lienPostCommentaire{
    display: none ;
}

#postGet{
  

    text-align: center;
 
    background-color:#bebdb6 ;
    color: #0b2145 ;
   margin-top: 3%;
   margin-bottom: 3%;
    
}
.pseudoPost{
    font-size: 22px;
    padding-top: 3%;
}
.pseudoCom{
    font-size:16px; 
}

#imagePost{
    width:80% ;
   
    border-radius: 20% ;
    border: solid  #bb4e56;
    
}

#filePost{
    width:80% ;
}

.logo{
    width:100%
}

#lienCommentaire{
    font-size: 20px;

}

#profilGet{
    width:30% ;
    text-align: center;
   padding-top:3% ; 
   padding-bottom: 3%;
     background-color:#bebdb6 ;
     color: #0b2145 ;
    
     
}
#profilGetUser{

    background-color: #bebdb6;
    text-align: center;
    padding-top:3% ; 
    padding-bottom: 3%;
      background-color:#bebdb6 ;
      color: #0b2145 ;
}
#btnSuprimerCompte{
    display: none;
}

#updateProfil{
    width:30% ;
    text-align: center;
   
     background-color:#bebdb6 ;
     color: #0b2145 ;
    
     padding-top: 3%;
     padding-bottom: 3%;

}

#getPostId{
    text-align: center;
   
    background-color:#bebdb6 ;
    color: #0b2145 ;
  
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 25%;
    margin-left: 25%;
}

#getCommentaire{

    text-align: center;
   
    background-color:#bebdb6 ;
    color: #0b2145 ;
   
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 25%;
    margin-left: 25%;
}

#inputCom{
    text-align: center;
   
    background-color:#bebdb6 ;
    color: #0b2145 ;
   
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left:25% ; 
    margin-right: 25%;
}

#comId{
  
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 5%;
    border: solid #bb4e56 ;
}

#divPost{
    text-align: center;
   
    background-color:#bebdb6 ;
    color: #0b2145 ;
   
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left:25% ; 
    margin-right: 25%;
}

.formFile{
    padding-top:5%
}

#displayDeletePost{
    display: none;
}

.displayDeleteComment{
    display: none;
}

.comentWrap{
    overflow-wrap: break-word;
}
.image-responsive{
    display: none;

}

#logoGroup{
    margin-left:25%; 
    margin-right:25% ;
  background-color:#bebdb6  ;

}
#logoPost{
    width:100%;
}

#link-signup{
    color: #bb4e56 ;
    font-size: 22px;
    margin-bottom: 3%;
   
}
#link-signup:hover{
    border-bottom: solid #bb4e56;
    width:15%
}
#link-login{
    color: #bb4e56 ;
    font-size: 22px;
    margin-bottom: 3%;
   
}
#link-login:hover{
    border-bottom: solid #bb4e56;
    width:15%
}

@media screen and (min-width:781px)and(max-width:800px){
    #htmlBack{
        background-size: 800px 1280px ;
    }
    #login{
        display: none;
        text-align: center;
      
        
        border:solid black 2px;
        
        padding-bottom: 5%;
        background-color:
        #bebdb6 ;
        margin-top: 40%;
        color: #fdfdfd   ;
        margin-left: auto ;
        margin-right: auto; 
        
    }
    #signup{
        display: none;
        text-align: center;
      
        
        border:solid black 2px;
        
        padding-bottom: 5%;
        background-color:
        #bebdb6 ;
        margin-top: 40%;
        color: #fdfdfd   ;
        margin-left: auto ;
        margin-right: auto; 
        
    }
   
}

@media screen and (max-width: 600px){
    #logoGroup{
        margin-left:auto; 
        margin-right:auto ;
      background-color:#bebdb6  ;
    
    }
    
    #headIndex{
        background-color: #0b2145;
    }
   footer{
       display: none;
   }
   main{
       display: none;
   }

    #signup{
        display: none;
        text-align: center;
        margin-left:auto ; 
        margin-right:auto ;
        border:solid black 2px;
         margin-top: 50% ;
        padding-bottom: 5%;
        background-color:
        #bebdb6 ;
       
        color: #fdfdfd   ;
        width: 100%;
        height: 100%;
        
    }
    #login{
        display: none;
        text-align: center;
        width:100% ; 
        height: 100%;
        border:solid black 2px;
       margin-top:50% ;
        padding-bottom: 5%;
        background-color:
        #bebdb6 ;
    
        color: #fdfdfd   ;
        margin-left: auto ;
        margin-right: auto; 
        
    }

    #imagePost{
        width:80% ;
        height: auto ;
        border-radius: 20% ;
        border: solid  #bb4e56;
        
    }


#getPostId{
    text-align: center;
   
    background-color:#bebdb6 ;
    color: #0b2145 ;
  
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 0;
    margin-left: 0;
}


#getPost{
     width:100% ;
    margin-left:auto ; 
    margin-right:auto ;
}

#flex{
    display: block;
}

#divPost{
    text-align: center;
   
    background-color:#bebdb6 ;
    color: #0b2145 ;
   
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left:auto ; 
    margin-right: auto;
}

#getCommentaire{

    text-align: center;
   
    background-color:#bebdb6 ;
    color: #0b2145 ;
   
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 0;
    margin-left: 0;
}

#inputCom{
    text-align: center;
   
    background-color:#bebdb6 ;
    color: #0b2145 ;
   
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left:auto ; 
    margin-right: auto;
}
ul li {
    width:auto;
}
.sous li{
     
    width:auto ; 

}
.sous{
    display: block;
}
#profilGet{
    width:auto ;
    text-align: center;
   padding-top:3% ; 
   padding-bottom: 3%;
     background-color:#bebdb6 ;
     color: #0b2145 ;
    
}

#updateProfil{
    width:auto;
    text-align: center;
   
     background-color:#bebdb6 ;
     color: #0b2145 ;
    
     padding-top: 3%;
     padding-bottom: 3%;

}

#htmlPost{
    background-color:#bebdb6 ;
}
#htmlBack{
    background-image: none;
    background-color: #0b2145;
}
#signupLogin{
    text-align: center;
    margin-top:50%;
    font-size: 25px;
}
#link-signup{
    margin-bottom: 5%;
}
.image-responsive{
    margin-top:25% ; 
    display: block;
    width:100% ; 
}

}

@media screen and (min-width:601px) and (max-width: 780px){
   
   
   
   
   #postOne{
       display: flex;
       justify-content: center;
       flex-direction: column;
   }
    #login{
        display: none;
        text-align: center;
      
        
        border:solid black 2px;
        
        padding-bottom: 5%;
        background-color:
        #bebdb6 ;
       /* margin-top: 40% */;
        color: #fdfdfd   ;
        margin-left: auto ;
        margin-right: auto; 
        
    }
    #signup{
        display: none;
        text-align: center;
      
        
        border:solid black 2px;
        
        padding-bottom: 5%;
        background-color:
        #bebdb6 ;
       /* margin-top: 40%; */
        color: #fdfdfd   ;
        margin-left: auto ;
        margin-right: auto; 
        
    }
    #htmlBack{
        background-size: 768px 1024px;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1100px){
    #htmlBack{background-size: 1024px 768px;
}

}
@media screen and (min-width:1100px) and (max-width:1280px){
    #htmlBack{
        background-size: 1280px 800px;
    }
 

}





